/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}
html {
    scroll-behavior: smooth;
}
p {
    color: rgb(85, 85, 85
    );
}

/*TRANSITIONS*/
a, .btn {
    transition: all 300ms ease;
}

/*NAV*/
nav, .nav-links {
    display: flex;
    background-color: rgb(234, 255, 0);
    color: white;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    align-items: center;
    vertical-align: middle;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-decoration-color: white;
    font-weight: 500;
    font-weight: 600;
}

a:hover {
    color: rgb(48, 3, 3);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(255, 255, 255);
}
.logo {
    font-size: 2rem;
    left: 0;
    color: black;
    font-weight: 600;
}
.logo:hover {
    cursor: default;
    transform: scale(1.1);
}

/*SECTION*/
section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;

}
.section-container {
    display: flex;
}

/*PROFILE SECTION*/
#Home {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 60vh;
    padding-top: 100px; 
}
.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto o;
    transition: transform 0.3s ease-in-out;
}
.section__pic-container:hover {
    transform: scale(1.1);
}
.section__text {
    align-self: center;
    text-align: center;
}
.section__text p {
    font-weight: 600;
}
.section__text h1 {
    font-size: 5rem;
}
.section__text__p1 {
    text-align: center;
    font-size: 2.5rem;
}
.section__text__p2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.title {
    font-size: 3rem;
    text-align: center;
}

/*ABOUT SECTION*/
#About {
    padding: 15vh;
    margin-top: 15rem;
  }
.title {
    color: #333;
    text-align: center;
}
.section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
.about-pic img {
    width: 450px;
    margin: auto;
    margin-top: 2rem;
    height: 290px;
    border-radius: 20px;
    border-color: black;
    transition: transform 0.3s ease-in-out; 
}
 
.about-pic img:hover {
    border: 1px solid rgb(234, 255, 0);
    transform: scale(1.1);
}

.text-container p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    color: gray;
}

/*CORNER SECTION*/
#Corner {
    text-align: center;
    padding: 3rem;
  }
.corner-details-container {
    display: flex;
    justify-content: center;
}
.features-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.Corner-Sub-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}
.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
article {
    min-width: 15vw;
    max-width: 15vw;
    min-height: 40vh;
    max-height: 40vh;
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #acacac;
    padding: 5rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    font-weight: 500;
}
article:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(234, 255, 0);
    border-width: 0.1rem;
    transform: scale(1.1);
    color: rgb(186, 8, 8);
    font-weight: bolder;
   
}
.icon:hover {
    filter: invert(1);
}
.icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    filter: invert(0);
    transition: filter 0.3s ease-in-out;
    
}
#Enrichment {
    padding-top: 3.5rem;
}

h3 {
    line-height: 1.2;
    margin: 1rem;
}

/*CONTACT SECTION*/
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;

}
.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(234, 255, 0);
    background: (250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out;
}
.contact-info-upper-container:hover {
    transform: scale(1.1);
}
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}
.contact-title {
    font-size: 3rem;
    text-align: center;
}
.contact-intro {
    font-weight: 600;
    text-align: center;
}
.contact-info-container p {
    font-size: larger;
}
.contact-icon {
    cursor: default;
}
.email-icon {
    height: 4rem;
    width: 4rem;
}

/*FOOTER SECTION*/
footer {
    height: 26vh;
    margin: 0 1 rem;
    background-color: black;
}
footer p {
    text-align: center;
    padding-top: 1rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

/*DROP-DOWN MENU*/
.dropdown {
    position: relative;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.dropdown-content a {
    color: rgb(0, 0, 0);
}
.dropdown-content a:hover {
    color: rgb(234, 255, 0);
}

/*MEDICAL APPLICATION*/
#corner-container {
    padding: 5rem;
    margin-bottom: 5rem;
    background-color: #ffffff; 
    text-align: left;
}
.corner-title-container h1 {
    color: #000000; 
    font-size: 2.5rem;
    margin-bottom: 0.2rem;
    text-align: center;
}
.corner-subtitle-container h2 {
    color: rgb(234, 255, 0); 
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-bottom: 0.5rem;
    text-align: center;
}
.corner-text-container p {
    color: #555; 
    margin-bottom: 2rem;
    text-align: center;
}
form {
    padding-bottom: 4rem;
}
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff; 
    color: #333; 
    font-weight: 600;
    border: 1px solid #ddd; 
    border-radius: 5px;
}
.form-container label {
    color: #333; 
    display: block;
    margin-bottom: 5px;
}
.form-container input[type="text"],
.form-container input[type="number"],
.form-container input[type="date"],
.form-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff; 
    color: #333; 
    font-weight: 600;
    border: 1px solid #ddd; 
    border-radius: 5px;
}
.form-container input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.3); 
}
.form-container input[type="checkbox"]:hover {

    filter: brightness(1.5); 
    cursor: pointer; 
}
.form-container input[type="file"] {
    border: none; 
}
.button-container input[type="submit"] {
    background-color: rgb(234, 255, 0);
    color: #000;
    margin-top: 1.5rem;
    padding: 1rem;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 300ms ease;
}
.button-container input[type="submit"]:hover {
    background-color: #FF1C04; 
}

/*POP-UP*/
.fixed-banner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(234, 255, 0);
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.3);
    cursor: pointer;
    font-weight: 600;
}

/*USER INFORMATION RIBBON*/
.greeting {
    position: fixed;
    top: 140px; 
    right: 10px;
    background-color: #930000;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 0 0 5px 5px; 
    font-size: 600;
    box-shadow: 0px 4px 8px rgba(112, 112, 112, 0.1);
    transition: background-color 0.3s ease;
    z-index: 1000; 
}
.greeting p {
    font-weight: 600;
    color: white;
}
.greeting:hover {
    background-color: rgb(234, 255, 0);
}


